@keyframes bg-fadein {
    0% {
        filter: contrast(100%);
    }
    100% {
        filter: contrast(200%);
    }
}

.scroll-anim {
    animation: bg-fadein linear both;
    animation-timeline: scroll(block root);
    animation-range: 25% 100%;
}
