<!doctype html>
<html lang="en" charset="utf-8">
    <title>Malte Dahlberg</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="Malte Dahlberg" />
        <link rel="manifest" href="/images/favicon/site.webmanifest" />
        
        {{ with (templates.Defer (dict "key" "global")) }} {{ partial "css.html"
         . }} {{ end }}

         <!--<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>-->
 
    </head>
    <body
        class="font-htikob tracking-normal text-lg md:text-base whitespace-normal bg-white prose-a:text-blue-800 prose-a:underline prose-a:underline-offset-2 prose-a:decoration-double prose-a:decoration-1 prose-a:hover:underline-offset-4 [&_em]:base"
    >
        <!--
        <div class="scroll-anim w-screen h-screen bg-fixed bg-no-repeat opacity-0 -z-10 m-0 p-0 fixed overflow-hidden">
            <img class="w-screen" src="/images/1.jpg"></img>
        </div>
        -->
        
        <div class="p-8"> 
            <div class="flex flex-col items-center justify-start">
                
                <div class="w-19/20 md:w-6/9 lg:w-4/10">
                    
                    {{ partial "header.html" . }} 
                    
                    <br \>
                        
                    
                    {{ block "main" . }} {{ end }} 

                    <!--Leave the footer out for now…-->
                    
                    {{ partial "footer.html" . }}
                    
                </div>
            </div>
        </div>
        <!--<div><img src="/images/terrain_3.png"></div>-->
    </body>
</html>
